nav > div > p {
    line-height: 9px;
}
h3 {
    text-align: center;
}
.left {
    text-align: left;
    float: left;
    margin: 16px;
}
a:link {
    color: red;
}
a:visited {
    color: purple;
}
a:hover {
    color: magenta;
}
a:active {
    color: green;
}
/* just a comment */