body {
    background-color: white;
}
nav > div {
    width: 20%;
    background-color: lightgray;
    border: 2px solid black;
    padding-top: 15px;
    padding-bottom: 10px;
}
nav > div > p {
    line-height: 9px;
}

.margin-left {
    margin-left: 10%
}
.margin-left2 {
    margin-left: 18%;
}
.margin-small-left {
    margin-left: 5%;
}
.aims {
    border: 2px solid crimson;
    background-color: lightcoral;
    padding-top: 15px;
    padding-left: 15px;
}
.provision-items {
    border: 2px solid blue;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    background-color: lightblue;
}
.steps {
    border: 2px solid orange;
    background-color: rgb(255, 255, 134);
    padding-top: 10px;
    width: 35%;
}
.contact {
    border: 2px solid green;
    background-color: lightgreen;
    padding-top: 10px;
}
.left {
    text-align: left;
}