body {
    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 1in;
    margin-right: 1in;
}
main {
    padding-top: 80px;
    padding-bottom: 80px;
}
header, footer {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav > p {
    margin-top: 4px;
    margin-bottom: 4px;
}
img {
    float: left;
}
.textblock {
    float: right;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}
.clearfloat {
    clear: both;
}