body {
    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 1in;
    margin-right: 1in;
}
main {
    padding-top: 80px;
    padding-bottom: 80px;
}
header, footer {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    height: 699px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}
nav > p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.floatleft {
    float: left;
    height: 699px;
}
.floatright {
    float: right;
    width: 1030px;
    height: 699px;
}
.textblock {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    font-size: 128px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1030px;
    height: 699px;
}
.clearfloat {
    clear: both;
}