body {
    margin-top: 1in;
    margin-bottom: 1in;
    margin-left: 1in;
    margin-right: 1in;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
    height: 678px;
    border-style: solid;
    border-color: red;
    border-width: 10px;
}
strong {
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.floatleft {
    float: left;
    margin-left: 10%;
    width: 15%;
}
.floatright {
    float: right;
    margin-right: 10%;
    width: 45%;
}
.textblock {
    border-style: solid;
    border-color: red;
    background-color: rgb(248, 165, 165);
    border-width: 10px;
    font-size: 64px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1010px;
    height: 679px;
    padding: 10px;
}
.clearfloat {
    clear: both;
}