header, main, footer {
    text-align: center;
}
header, footer {
    background-color: lightblue;
    margin-top: 10px;
    margin-bottom: 10px
}
.textblock {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}
img {
    margin: 1in;
}
.clearfloat {
    clear: both;
}